{% extends "exampleapp/base.html" %}

{% block title %}User list{% endblock %}

{% block back %}
<a href="{% url 'index' %}">Back to index</a>
<hr>
{% endblock %}

{% block content %}
<ul>
  {% for user in users %}
    <li>{{ user.username }}  [<a href="{% url 'user-delete' user.pk %}">Delete</a>]</li>
  {% endfor %}
</ul>

<hr>
<h4>Create user</h4>

<form action="" method="post">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Create" />
  <a href="{% url 'user-list' %}">
    <input type="button" value="Cancel" />
  </a>
</form>
{% endblock %}
