<!DOCTYPE html>
<html>
  <head>
    <title>Tutelary example app</title>
    <style>
     .messages {
       border: 2px solid red;
       padding: 0px 10px;
       color: #AA0000;
       margin-bottom: 10px;
     }
    </style>
  </head>

  <body>
    <div id="container">

      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}

      {% block back %}{% endblock %}

        {% if actions %}
          Actions: {% for a in actions %}
            {{ a }} &nbsp;
          {% endfor %}
          <hr>
        {% endif %}

      <h2>{% block title %}{% endblock %}</h2>

      {% block content %}{% endblock %}
    </div>

    <hr>
    {% if request.user.is_anonymous %}
      <p>No user currently selected</p>
    {% else %}
      <p>Current user: {{ request.user.username }}</p>
    {% endif %}
    {% if users %}
      <form action="/switch-user/" method="post">{% csrf_token %}
        {{ user_switch_form.as_p }}
        <input type="submit" value="Switch" />
      </form>
    {% endif %}
  </body>
</html>
