{% extends "exampleapp/base.html" %}

{% block title %}Statistics{% endblock %}

{% block back %}
<a href="{% url 'index' %}">Back to index</a>
<hr>
{% endblock %}

{% block content %}
<h3>Counts</h3>

<table>
  <tr>
    <td>Users</td>
    <td>{{ counts.users }}</td>
  </tr>
  <tr>
    <td>Policies</td>
    <td>{{ counts.policies }}</td>
  </tr>
  <tr>
    <td>Organisations</td>
    <td>{{ counts.organisations }}</td>
  </tr>
  <tr>
    <td>Projects</td>
    <td>{{ counts.projects }}</td>
  </tr>
  <tr>
    <td>Parties</td>
    <td>{{ counts.parties }}</td>
  </tr>
  <tr>
    <td>Parcels</td>
    <td>{{ counts.parcels }}</td>
  </tr>
</table>

<h3>Actions</h3>

<table>
{% for agroup in actions %}
  <tr><td>
  {% for a in agroup.actions %}
  {{ a }}&nbsp;
  {% endfor %}
  </td></tr>
{% endfor %}
</table>
{% endblock %}
